#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Fri Apr 03 00:51:33 CLST 2026
allowBypassInvulnerability=true
